*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    background-image: url("bg1.png");
    background-image: url("bg2.png");
}

#main {
    width: 100%;
    height: 100%;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 100%;
    padding: 20px 50px;
    margin-bottom: 20px;
}

#navright {
    display: flex;
    align-items: center;
}

#navright a {
    margin-left: 20px;
}

#navright i {
    text-decoration: none;
    color: black;
}

#content {
    padding: 0px 40px;
}

#content h1 {
    font-size: 50px;
    line-height: 70px;
    margin-left: 30px;
    margin-bottom: 30px
}

table {
    line-height: 35px;
}

#card {
    align-items: center;
    margin-top: 50px;
    margin-left: -10px;
    padding: 20px;
    background-color: none;
}

#card h3 {
    margin-bottom: 20px;
    align-items: center;
}

#card p {
    opacity: .8;
    font-size: 12px;
}

#carousel {
    margin-left: -25px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#carousel h3 {
    margin-left: 15px;
    margin-bottom: 20px;
}

#carousel p {
    opacity: .8;
    font-size: 16px;
}
